@import "https://fonts.googleapis.com/css?family=Bitter:400,700|Lato:300,400,700";
@import url(assets/fontawesome/scss/font-awesome.css);
body {
  background: #efefeb;
  color: #222; }

.homeHeaderWrap {
  margin-top: -14px;
  background: white;
  position: relative;
  display: block;
  padding: 1.5em 3em 4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .homeHeaderWrap .pagePaddingWrap {
    margin: 0 auto;
    position: relative;
    width: 80%; }
  .homeHeaderWrap .rightHead {
    position: absolute;
    display: inline-block; }
    .homeHeaderWrap .rightHead h1 {
      display: inline-block;
      font-family: "Bitter", serif;
      color: #f56400;
      font-size: 2.5em;
      margin-right: .5em; }
    .homeHeaderWrap .rightHead #searchBar {
      display: inline-block;
      font-size: .9em;
      padding: 0.5em;
      width: 15em;
      border: 1px solid #aaa;
      background-color: #fbfbfa;
      border-radius: 3px 0px 0px 3px;
      box-shadow: 0px 0px 2px 1px #e6e6e6 inset; }
      .homeHeaderWrap .rightHead #searchBar:focus {
        border: 1px solid #0192B5;
        outline: none; }
    .homeHeaderWrap .rightHead #searchButton {
      font-size: 0.9em;
      background: #0192B5;
      color: white;
      border: 1px solid #0192B5;
      border-radius: 0px 3px 3px 0px;
      padding: 0.5em 1em;
      margin-left: -0.4em; }
      .homeHeaderWrap .rightHead #searchButton:hover {
        background-color: #34A8C4; }
  .homeHeaderWrap .leftHead {
    position: absolute;
    right: 2em;
    display: inline-block;
    font-family: "Lato", sans-serif; }
    .homeHeaderWrap .leftHead ul {
      color: #666;
      display: inline-block;
      padding-right: 1em; }
      .homeHeaderWrap .leftHead ul li {
        text-align: center;
        display: inline-block; }
        .homeHeaderWrap .leftHead ul li #sellLink {
          vertical-align: super;
          color: #0192B5;
          text-decoration: none;
          padding-right: 1em; }
        .homeHeaderWrap .leftHead ul li .headerLinks, .homeHeaderWrap .leftHead ul li #homeLink {
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          padding: 0 1em; }
          .homeHeaderWrap .leftHead ul li .headerLinks a, .homeHeaderWrap .leftHead ul li #homeLink a {
            color: #666;
            text-decoration: none;
            outline: none; }
            .homeHeaderWrap .leftHead ul li .headerLinks a:visited, .homeHeaderWrap .leftHead ul li #homeLink a:visited {
              color: #666; }
        .homeHeaderWrap .leftHead ul li #homeLink {
          border-left: 1px solid rgba(0, 0, 0, 0.1); }
          .homeHeaderWrap .leftHead ul li #homeLink a {
            color: #666;
            text-decoration: none;
            outline: none; }
            .homeHeaderWrap .leftHead ul li #homeLink a:visited {
              color: #666; }
        .homeHeaderWrap .leftHead ul li #cart {
          padding: 0 1em; }
          .homeHeaderWrap .leftHead ul li #cart a {
            color: #666;
            text-decoration: none;
            outline: none; }
            .homeHeaderWrap .leftHead ul li #cart a:visited {
              color: #666; }
        .homeHeaderWrap .leftHead ul li i {
          font-size: 1.5em; }
        .homeHeaderWrap .leftHead ul li h4 {
          padding-top: .5em;
          font-size: .8em; }

.subHeaderWrap {
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #aaa;
  font-size: 15px;
  display: inline-block;
  background: #fff;
  height: 50px;
  position: absolute; }
  .subHeaderWrap .subNavBar {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 2em; }
  .subHeaderWrap .navbarItems {
    font-family: "Lato", sans-serif;
    color: #aaa;
    font-size: 15px;
    display: inline-block;
    padding: 1.1em 0.6em; }
    .subHeaderWrap .navbarItems:hover {
      border-bottom: 3px solid #f56400;
      color: #666;
      cursor: pointer; }
  .subHeaderWrap .clothingNavBar {
    margin-left: 30px; }
  .subHeaderWrap .moreNavbar {
    display: none; }

#footer {
  /*
    Simple Grid
    Project Page - http://thisisdallas.github.com/Simple-Grid/
    Author - Dallas Bass
    Site - http://dallasbass.com
  */ }
  #footer footer {
    width: 70%;
    margin: auto;
    /* Content Columns */ }
    #footer footer .upper {
      border: 8px solid #ebebe6;
      text-align: center; }
      #footer footer .upper h3 {
        margin-top: 10px;
        padding: 10px;
        font-family: "Bitter", serif;
        font-weight: 700;
        font-size: 13px;
        color: #222; }
      #footer footer .upper button {
        background: #0192B5;
        border: 1px solid #0192B5;
        border-radius: 3px;
        margin-bottom: 20px;
        padding: 10px 50px 10px 50px;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff; }
      #footer footer .upper button:hover {
        background: #34A8C4; }
      #footer footer .upper button:focus {
        outline: 0; }
    #footer footer .col-1-5 {
      font-family: "Lato", sans-serif;
      font-size: 14px; }
      #footer footer .col-1-5 li {
        padding: 6px 0 6px 0; }
        #footer footer .col-1-5 li .footer-header {
          padding-bottom: 0; }
        #footer footer .col-1-5 li a {
          color: #0192B5;
          text-decoration: none; }
        #footer footer .col-1-5 li a:hover {
          cursor: pointer;
          text-decoration: underline; }
        #footer footer .col-1-5 li button {
          background: #0192B5;
          border: 1px solid #0192B5;
          border-radius: 3px;
          padding: 3px 8px 5px 8px;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 1px;
          color: #fff; }
        #footer footer .col-1-5 li button:hover {
          background: #34A8C4; }
        #footer footer .col-1-5 li button:focus {
          outline: 0; }
        #footer footer .col-1-5 li i {
          margin-right: 8px; }
    #footer footer .copyright {
      border-top: 2px solid #ebebe6;
      margin-top: 20px;
      padding: 75px 0 25px 0;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 13px;
      color: #aaa;
      text-align: center; }
      #footer footer .copyright a {
        padding: 0 7px;
        font-weight: 400;
        color: #666;
        text-decoration: none; }
      #footer footer .copyright a:hover {
        cursor: pointer;
        text-decoration: underline; }
    #footer footer [class*='grid'],
    #footer footer [class*='col-'],
    #footer footer [class*='mobile-'],
    #footer footer .grid:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #footer footer [class*='col-'] {
      float: left;
      min-height: 1px;
      padding-right: 20px;
      /* column-space */ }
    #footer footer [class*='col-'] [class*='col-']:last-child {
      padding-right: 0; }
    #footer footer .grid {
      width: 100%;
      max-width: 1140px;
      min-width: 748px;
      /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
      margin: 0 auto;
      overflow: hidden; }
    #footer footer .grid:after {
      content: "";
      display: table;
      clear: both; }
    #footer footer .grid-pad {
      padding-top: 20px;
      padding-left: 20px;
      /* grid-space to left */
      padding-right: 0;
      /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }
    #footer footer .push-right {
      float: right; }
    #footer footer .content {
      margin: 10px; }
    #footer footer .col-1-1 {
      width: 100%;
      background: #efefeb; }
    #footer footer .col-1-5 {
      width: 20%; }
    @media handheld, only screen and (max-width: 767px) {
      #footer footer {
        /* Mobile Layout */ }
        #footer footer .grid {
          width: 100%;
          min-width: 0;
          margin-left: 0;
          margin-right: 0;
          padding-left: 20px;
          /* grid-space to left */
          padding-right: 10px;
          /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */ }
        #footer footer [class*='col-'] {
          width: auto;
          float: none;
          margin: 10px 0;
          padding-left: 0;
          padding-right: 10px;
          /* column-space */ }
        #footer footer [class*='col-'] [class*='col-'] {
          padding-right: 0; }
        #footer footer [class*='mobile-col-'] {
          float: left;
          margin: 0 0 10px;
          padding-left: 0;
          padding-right: 10px;
          /* column-space */
          padding-bottom: 0; }
        #footer footer .mobile-col-1-1 {
          width: 100%; }
        #footer footer .mobile-col-1-5 {
          width: 20%; }
        #footer footer .hide-on-mobile {
          display: none !important;
          width: 0;
          height: 0; } }

#categories *, #categories *:after, #categories *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#categories .grid-pad {
  padding-top: 87px;
  padding-left: 20px;
  padding-right: 0px; }
#categories .grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto; }
#categories .cole-3-12 {
  width: 25%;
  font-family: "Lato", sans-serif; }
  #categories .cole-3-12 h1 {
    font-family: "Bitter", serif;
    font-size: 2.4em;
    padding-bottom: 24px; }
#categories .cat-bar {
  padding-left: 18px;
  line-height: 1.6; }
  #categories .cat-bar li:hover {
    text-decoration: underline; }
#categories .allItems {
  border-top: 1px solid rgba(173, 168, 168, 0.48);
  margin-right: 18px;
  padding-top: 10px;
  margin-top: 20px; }
#categories .cole-9-12 {
  width: 75%;
  display: inline-block;
  padding-bottom: 5em; }
#categories [class*='cole-'] {
  float: left;
  padding-right: 20px; }
#categories .content {
  border: 1px solid rgba(173, 168, 168, 0.48);
  background: #FAFAFA;
  color: #444;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: .7%; }
  #categories .content h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    margin: 0; }
#categories .content-gallery {
  padding-top: 51px; }
  #categories .content-gallery .gallery-box {
    width: 105%;
    margin-top: 7%;
    display: inline-block;
    position: relative; }
    #categories .content-gallery .gallery-box li {
      display: inline-block;
      width: 30%;
      border-radius: .7%; }
      #categories .content-gallery .gallery-box li img {
        height: 225px;
        width: 121%;
        padding-right: 4em;
        padding-top: 30px; }
      #categories .content-gallery .gallery-box li h3 {
        font-family: "Bitter", serif;
        font-size: 18px;
        height: 50px;
        width: 250px;
        background: #FFFFFF;
        margin-top: -3px;
        padding-top: 16px;
        padding-left: 20px; }
#categories .showCase1 {
  background: #fafafa;
  border: 0.7px solid rgba(173, 168, 168, 0.48);
  display: block;
  float: left;
  position: absolute;
  line-height: 1.8; }
  #categories .showCase1 img {
    height: 300px; }
  #categories .showCase1 h3 {
    font-family: "Bitter", serif;
    font-size: 1.1em;
    padding-left: 10px; }
    #categories .showCase1 h3:hover {
      text-decoration: underline; }
  #categories .showCase1 h2 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 20px; }
    #categories .showCase1 h2:hover {
      text-decoration: underline; }
  #categories .showCase1 ul {
    font-family: "Lato", sans-serif;
    padding-left: 10px;
    font-size: 1em; }
    #categories .showCase1 ul li:hover {
      text-decoration: underline; }
#categories .showCase2 {
  background: #fafafa;
  border: 0.7px solid rgba(173, 168, 168, 0.48);
  display: block;
  float: right;
  position: relative;
  line-height: 1.8;
  margin-right: 40px; }
  #categories .showCase2 img {
    height: 300px; }
  #categories .showCase2 h3 {
    font-family: "Bitter", serif;
    font-size: 1.1em;
    padding-left: 10px; }
    #categories .showCase2 h3:hover {
      text-decoration: underline; }
  #categories .showCase2 h2 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 20px; }
    #categories .showCase2 h2:hover {
      text-decoration: underline; }
  #categories .showCase2 ul {
    font-family: "Lato", sans-serif;
    padding-left: 10px;
    font-size: 1em; }
    #categories .showCase2 ul li:hover {
      text-decoration: underline; }
#categories .browse-more {
  font-family: "Bitter", serif;
  font-size: 2.2em;
  text-align: center; }
#categories .browse-list {
  width: 104%;
  padding-bottom: 2em;
  display: inline-block;
  position: relative; }
  #categories .browse-list li {
    display: inline-block;
    width: 30%;
    border-radius: .7%; }
    #categories .browse-list li img {
      height: 225px;
      width: 100%;
      padding-right: 4em;
      padding-top: 22px;
      margin-bottom: -4px; }
    #categories .browse-list li h3 {
      font-family: "Bitter", serif;
      font-size: 18px;
      height: 50px;
      width: 285px;
      background: #FFFFFF;
      margin-top: -3px;
      padding-top: 16px;
      padding-left: 20px; }
    #categories .browse-list li h1 {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: gray;
      letter-spacing: 1px;
      width: 285px;
      background: #FFFFFF;
      padding-top: 12px;
      padding-left: 20px; }
#categories .shop-more {
  font-family: "Bitter", serif;
  font-size: 2.2em;
  text-align: center; }
#categories .shop-list {
  width: 104%;
  padding-bottom: 2em;
  display: inline-block;
  position: relative; }
  #categories .shop-list li {
    display: inline-block;
    width: 30%;
    border-radius: .7%; }
    #categories .shop-list li img {
      height: 225px;
      width: 100%;
      padding-right: 4em;
      padding-top: 22px; }
    #categories .shop-list li h3 {
      font-family: "Lato", sans-serif;
      font-size: 15px;
      font-weight: 100;
      height: 50px;
      width: 285px;
      background: #FFFFFF;
      margin-top: -3px;
      padding-top: 16px;
      padding-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    #categories .shop-list li h2 {
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: #78c042;
      height: 15px;
      width: 285px;
      text-align: right;
      background: #FFFFFF;
      padding-left: 5px; }
    #categories .shop-list li h1 {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      color: #aaa;
      height: 4px;
      width: 285px;
      background: #FFFFFF;
      padding-left: 5px; }
    #categories .shop-list li .heartbtn {
      position: absolute;
      margin-left: 16%;
      margin-top: -17.5%;
      height: 26px;
      width: 32px;
      color: #a09c98;
      font-size: 1em;
      border-radius: 13%;
      border: 1px solid #aaa;
      z-index: 9999; }
    #categories .shop-list li .burgerbtn {
      position: absolute;
      margin-left: 19%;
      margin-top: -17.5%;
      height: 26px;
      width: 44px;
      color: #a09c98;
      font-size: 1em;
      border-radius: 13%;
      border: 1px solid #aaa;
      z-index: 9999; }
    #categories .shop-list li form {
      display: block;
      position: absolute;
      margin-top: -14.5%;
      margin-left: 15%;
      height: 81px;
      width: 205px;
      background: #ffffff;
      padding-left: 1.5%;
      padding-top: 1%;
      border-radius: 3%;
      line-height: 1.5;
      border: .5px solid #cccccc;
      z-index: 9999; }
      #categories .shop-list li form p {
        font-family: "Lato", sans-serif;
        font-size: 12px;
        text-transform: capitalize;
        color: #cccccc; }
      #categories .shop-list li form input {
        width: 150px; }
      #categories .shop-list li form i {
        position: absolute;
        margin-left: 23%;
        margin-top: -14.2%;
        font-size: 1.5em;
        color: #ffffff; }
#categories .see-all {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 400;
  border-radius: 5.9%;
  height: 45px;
  width: 130px;
  border: 0.7px solid rgba(173, 168, 168, 0.48);
  background: #FFFFFF;
  margin-left: 38%;
  margin-top: 2%;
  margin-bottom: 4%; }

/*# sourceMappingURL=styles.css.map */
