@import "https://fonts.googleapis.com/css?family=Bitter:400,700|Lato:300,400,700";
body {
  background: #efefeb;
  color: #222; }

.homeHeaderWrap {
  background: white;
  position: relative;
  display: block;
  padding: 1.5em 3em 4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .homeHeaderWrap .pagePaddingWrap {
    margin: 0 auto;
    position: relative;
    width: 80%; }
  .homeHeaderWrap .rightHead {
    position: absolute;
    display: inline-block; }
    .homeHeaderWrap .rightHead h1 {
      display: inline-block;
      font-family: "Bitter", serif;
      color: #f56400;
      font-size: 2.5em;
      margin-right: .5em; }
    .homeHeaderWrap .rightHead #searchBar {
      display: inline-block;
      font-size: .9em;
      padding: 0.5em;
      width: 15em;
      border: 1px solid #aaa;
      background-color: #fbfbfa;
      border-radius: 3px 0px 0px 3px;
      box-shadow: 0px 0px 2px 1px #e6e6e6 inset; }
      .homeHeaderWrap .rightHead #searchBar:focus {
        border: 1px solid #0192B5;
        outline: none; }
    .homeHeaderWrap .rightHead #searchButton {
      font-size: 0.9em;
      background: #0192B5;
      color: white;
      border: 1px solid #0192B5;
      border-radius: 0px 3px 3px 0px;
      padding: 0.5em 1em;
      margin-left: -0.4em; }
      .homeHeaderWrap .rightHead #searchButton:hover {
        background-color: #34A8C4; }
  .homeHeaderWrap .leftHead {
    position: absolute;
    right: 2em;
    display: inline-block;
    font-family: "Lato", sans-serif; }
    .homeHeaderWrap .leftHead ul {
      color: #666;
      display: inline-block;
      padding-right: 1em; }
      .homeHeaderWrap .leftHead ul li {
        text-align: center;
        display: inline-block; }
        .homeHeaderWrap .leftHead ul li #sellLink {
          vertical-align: super;
          color: #0192B5;
          text-decoration: none;
          padding-right: 1em; }
        .homeHeaderWrap .leftHead ul li .headerLinks, .homeHeaderWrap .leftHead ul li #homeLink {
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          padding: 0 1em; }
          .homeHeaderWrap .leftHead ul li .headerLinks a, .homeHeaderWrap .leftHead ul li #homeLink a {
            color: #666;
            text-decoration: none;
            outline: none; }
            .homeHeaderWrap .leftHead ul li .headerLinks a:visited, .homeHeaderWrap .leftHead ul li #homeLink a:visited {
              color: #666; }
        .homeHeaderWrap .leftHead ul li #homeLink {
          border-left: 1px solid rgba(0, 0, 0, 0.1); }
          .homeHeaderWrap .leftHead ul li #homeLink a {
            color: #666;
            text-decoration: none;
            outline: none; }
            .homeHeaderWrap .leftHead ul li #homeLink a:visited {
              color: #666; }
        .homeHeaderWrap .leftHead ul li #cart {
          padding: 0 1em; }
          .homeHeaderWrap .leftHead ul li #cart a {
            color: #666;
            text-decoration: none;
            outline: none; }
            .homeHeaderWrap .leftHead ul li #cart a:visited {
              color: #666; }
        .homeHeaderWrap .leftHead ul li i {
          font-size: 1.5em; }
        .homeHeaderWrap .leftHead ul li h4 {
          padding-top: .5em;
          font-size: .8em; }

.subHeaderWrap {
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #aaa;
  font-size: 15px;
  display: inline-block;
  background: #fff;
  height: 50px;
  position: relative; }
  .subHeaderWrap .subNavBar {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 80%;
    text-align: center;
    margin-left: 2em; }
  .subHeaderWrap .navbarItems {
    font-family: "Lato", sans-serif;
    color: #777;
    font-size: 15px;
    display: inline-block;
    padding: 1.1em 0.6em; }
    .subHeaderWrap .navbarItems:hover {
      border-bottom: 3px solid #f56400;
      color: #666;
      cursor: pointer; }
  .subHeaderWrap .clothingNavBar {
    margin-left: 30px; }
  .subHeaderWrap .moreNavbar {
    display: none; }

.trendingItems {
  display: block;
  font-family: "Bitter", serif;
  padding: 1.5em 0;
  box-shadow: 0px 1px 3px 1px #d0d0d0 inset; }
  .trendingItems #trendingHeader {
    font-size: 28px;
    width: 75%;
    display: block;
    margin: 0 auto;
    color: #222;
    text-decoration: none;
    font-weight: 700; }
    .trendingItems #trendingHeader:hover {
      text-decoration: underline; }
  .trendingItems #trendingSubHeader {
    font-size: 16px;
    width: 75%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: #aaa;
    font-weight: 400;
    padding: .8em; }

/*# sourceMappingURL=styles.css.map */
