<!-- TOP ETSY BAR -->
<div class="homeHeaderWrap" ng-controller="headerController">
  <div class="pagePaddingWrap">

    <div class="rightHead">
        <h1>Etsy</h1>

        <input id="searchBar" type="text" name="search" value="" placeholder="Search for frends or trends">
        <button id="searchButton" type="button" name="button"><a href="#/categories">Search</a></button>
    </div>


    <div class="leftHead">

        <ul>
          <li>
            <div>
              <a id="sellLink" href="https://www.etsy.com/sell">Sell on Etsy</a>
            </div>
          </li>
            <li>
                <div id="homeLink">
                  <a href="https://www.etsy.com/">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    <h4>Home</h4>
                  </a>
                </div>
            </li>
            <li>
                <div class="headerLinks">
                  <a href="#">
                    <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                    <h4>Favorites</h4>
                  </a>
                </div>
            </li>
            <li>
                <div class="headerLinks">
                  <a href="#">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <h4>You</h4>
                  </a>
                </div>
            </li>
            <li>
                <div id="cart">
                  <a href="#">
                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                    <h4>Cart</h4>
                  </a>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>

<!-- SUBHEADER -->
<div>
  <div class='subHeaderWrap'>
    <div class="subNavBar">
    <ul>
      <li class='navbarItems clothingNavBar'>Clothing & Accessories</li>
      <li class='navbarItems'>Jewelry</li>
      <li class='navbarItems'>Craft Supplies & Tools</li>
      <li class='navbarItems'>Weddings</li>
      <li class='navbarItems'>Entertainment</li>
      <li class='navbarItems'>Home & Living</li>
      <li class='navbarItems'>Kids & Baby</li>
      <li class='navbarItems'>Vintage</li>
      <li class='navbarItems moreNavbar'>More</li>
    </ul>
    </div>
  </div>
</div>

<!-- DROP DOWN MENU -->
<div class="DropDownWrap">
  <div class="LeftDropDown">
    Trend
  </div>
  <div class="MidDropDown">
    Frend
  </div>
  <div class="RightDropDown">
    End
  </div>
</div>

<div id="categories">

<!-- CATEGORIES! -->
<div class="container" ng-controller="CategoriesController">
<div class="grid grid-pad">
    <div class="cole-3-12">
      <h1>All categories</h1>
       <div class="content">
           <ul class="cat-bar">
             <li>Jewelry</li>
             <li>Craft Supplies & Tools</li>
             <li>Home & Living</li>
             <li>Art & Collectibles</li>
             <li>Clothing</li>
             <li>Accessories</li>
             <li>Paper & Party Supplies</li>
             <li>Bags & Purses</li>
             <li>Weddings</li>
             <li>Bath & Beauty</li>
             <li>Toys & Games</li>
             <li>Books, Movies and Music</li>
             <li>Electronics & Accessories</li>
             <li>Pet Supplies</li>
             <li>Shoes</li>
             <!-- needs line above -->
             <li class="allItems">Shop All Items</li>
           </ul>
       </div>
    </div>
    <div class="cole-9-12">
       <div class="content-gallery">
          <div class="showCase1">
          <img src={{necklaces}}>
          <h3>Jewelry</h3>
          <ul>
            <li>Necklaces</li>
            <li>Earrings</li>
            <li>Bracelets</li>
            <li>Rings</li>
          </ul>
          <h2>Shop All Jewelry</h2>
        </div>
          <div class="showCase2">
          <img src="{{decor}}">
          <h3>Home & Living</h3>
          <ul>
            <li>Home Decor</li>
            <li>Kitchen & Dining</li>
            <li>Bedding</li>
            <li>Spirituality & Religion</li>
          </ul>
          <h2>Shop All Home & Living</h2>
        </div>
          <div class="gallery">
          <ul class="gallery-box">
          <li><img src={{listings[0].MainImage.url_570xN}}>
          <h3>{{listings[0].taxonomy_path[0]}}</h3></li>
          <li><img src={{listings[1].MainImage.url_570xN}}>
          <h3>{{listings[1].taxonomy_path[1]}}</h3></li>
          <li><img src={{listings[2].MainImage.url_fullxfull}}>
          <h3>{{listings[2].taxonomy_path[0]}}</h3></li>
          <li><img src={{listings[3].MainImage.url_fullxfull}}>
          <h3>{{listings[3].taxonomy_path[1]}}</h3></li>
          <li><img src={{listings[4].MainImage.url_fullxfull}}>
          <h3>{{listings[4].taxonomy_path[0]}}</h3></li>
          <li><img src={{listings[5].MainImage.url_fullxfull}}>
          <h3>{{listings[5].taxonomy_path[1]}}</h3></li>
          <li><img src={{listings[6].MainImage.url_fullxfull}}>
          <h3>{{listings[6].taxonomy_path[0]}}</h3></li>
          <li><img src={{listings[7].MainImage.url_fullxfull}}>
          <h3>{{listings[7].taxonomy_path[1]}}</h3></li>
          <li><img src={{listings[8].MainImage.url_fullxfull}}>
          <h3>{{listings[8].taxonomy_path[0]}}</h3></li>
          <li><img src={{listings[9].MainImage.url_fullxfull}}>
          <h3>{{listings[9].taxonomy_path[1]}}</h3></li>
          <li><img src={{listings[10].MainImage.url_fullxfull}}>
          <h3>{{listings[10].taxonomy_path[0]}}</h3></li>
          <li><img src={{listings[11].MainImage.url_fullxfull}}>
          <h3>{{listings[11].taxonomy_path[1]}}</h3></li>
          <li><img src={{listings[12].MainImage.url_fullxfull}}>
          <h3>{{listings[12].taxonomy_path[0]}}</h3></li>
        </ul>

        </div>


       </div>
    </div>

    <h1 class="browse-more">Browse more categories</h1>
    <ul class="browse-list">
      <li><img src={{necklaces}}>
        <h1>JEWELRY</h1>
      <h3>Necklaces</h3></li>
      <li><img src={{decor}}>
        <h1>HOME & LIVING</h1>
      <h3>HOME D&Eacute;COR</h3></li>
      <li><img src={{beading}}>
        <h1>CRAFT SUPPLIES & TOOLS</h1>
      <h3>Jewlery & Beading Supplies</h3></li>
      <li><img src={{Womensclothing}}>
        <h1>CLOTHING</h1>
      <h3>Women's Clothing</h3></li>
      <li><img src={{Partysupplies}}>
        <h1>PAPER & PARTY SUPPLIES</h1>
      <h3>Paper</h3></li>
      <li><img src={{earrings}}>
        <h1>JEWELRY</h1>
      <h3>Earrings</h3></li>
      <li><img src={{prints}}>
        <h1>ART & COLLECTIBLES</h1>
      <h3>Prints</h3></li>
      <li><img src={{listings[17].MainImage.url_570xN}}>
        <h1>{{listings[17].category_path[0]}}</h1>
      <h3>{{listings[17].taxonomy_path[1]}}</h3></li>
      <li><img src={{listings[23].MainImage.url_570xN}}>
        <h1>CRAFT SUPPLIES & TOOLS</h1>
      <h3>Sewing & Needlecraft Supplies</h3></li>
      <li><img src={{listings[24].MainImage.url_570xN}}>
        <h1>{{listings[24].category_path[0]}}</h1>
      <h3>{{listings[24].taxonomy_path[1]}}</h3></li>
      <li><img src={{Partysupplies}}>
        <h1>PAPER & PARTY SUPPLIES</h1>
      <h3>Party Supplies</h3></li>
      <li><img src={{earrings}}>
        <h1>JEWELRY</h1>
      <h3>Rings</h3></li>


    </ul>
    <h1 class="shop-more">Shop all items</h1>
    <ul class="shop-list" ng-repeat="listing in listings | limitTo: 1">
    <li ng-click="goToProduct( listings[0] )">
      <!-- thank you, http://www.scriptscoop.site/t/b92dc29e1d80/javascript-angularjs-override-ng-show-ng-hide-on-hover.html for help in show/hide -->
      <div ng-mouseenter="options0=true" ng-mouseleave="options0=false">
        <img src={{listings[0].MainImage.url_fullxfull}}>
      <div>
      <span ng-show="options0">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>

      <h3>{{listings[0].title}}</h3>
      <h1>{{listings[0].Shop.shop_name}}</h1>
      <h2>{{listings[0].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[1] )">
      <div ng-mouseenter="options1=true" ng-mouseleave="options1=false">
        <img src={{listings[1].MainImage.url_fullxfull}}>
      <div>
      <span ng-show="options1">
        <button class="heartbtn" ><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn"><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[1].title}}</h3>
      <h1>{{listings[1].Shop.shop_name}}</h1>
      <h2>{{listings[1].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[2] )">
      <div ng-mouseenter="options2=true" ng-mouseleave="options2=false">
        <img src={{listings[2].MainImage.url_570xN}}>
      <div>
      <span ng-show="options2">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[2].title}}</h3>
      <h1>{{listings[2].Shop.shop_name}}</h1>
      <h2>{{listings[2].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[3] )">
      <div ng-mouseenter="options3=true" ng-mouseleave="options3=false">
        <img src={{listings[3].MainImage.url_570xN}}>
      <div>
      <span ng-show="options3">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[3].title}}</h3>
      <h1>{{listings[3].Shop.shop_name}}</h1>
      <h2>{{listings[3].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[4] )">
      <div ng-mouseenter="options4=true" ng-mouseleave="options4=false">
        <img src={{listings[4].MainImage.url_570xN}}>
      <div>
      <span ng-show="options4">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[4].title}}</h3>
      <h1>{{listings[4].Shop.shop_name}}</h1>
      <h2>{{listings[4].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[5] )">
      <div ng-mouseenter="options5=true" ng-mouseleave="options5=false">
        <img src={{listings[5].MainImage.url_570xN}}>
      <div>
      <span ng-show="options5">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[5].title}}</h3>
      <h1>{{listings[5].Shop.shop_name}}</h1>
      <h2>{{listings[5].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[6] )">
      <div ng-mouseenter="options6=true" ng-mouseleave="options6=false">
        <img src={{listings[6].MainImage.url_570xN}}>
      <div>
      <span ng-show="options6">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[6].title}}</h3>
      <h1>{{listings[6].Shop.shop_name}}</h1>
      <h2>{{listings[6].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[7] )">
      <div ng-mouseenter="options7=true" ng-mouseleave="options7=false">
        <img src={{listings[7].MainImage.url_570xN}}>
      <div>
      <span ng-show="options7">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[7].title}}</h3>
      <h1>{{listings[7].Shop.shop_name}}</h1>
      <h2>{{listings[7].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[8] )">
      <div ng-mouseenter="options8=true" ng-mouseleave="options8=false">
        <img src={{listings[8].MainImage.url_570xN}}>
      <div>
      <span ng-show="options8">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[8].title}}</h3>
      <h1>{{listings[8].Shop.shop_name}}</h1>
      <h2>{{listings[8].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[9] )">
      <div ng-mouseenter="options9=true" ng-mouseleave="options9=false">
        <img src={{listings[9].MainImage.url_570xN}}>
      <div>
      <span ng-show="options9">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[9].title}}</h3>
      <h1>{{listings[9].Shop.shop_name}}</h1>
      <h2>{{listings[9].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[10] )">
      <div ng-mouseenter="options10=true" ng-mouseleave="options10=false">
        <img src={{listings[10].MainImage.url_570xN}}>
      <div>
      <span ng-show="options10">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[10].title}}</h3>
      <h1>{{listings[10].Shop.shop_name}}</h1>
      <h2>{{listings[10].price | currency}}</h2>
    </li>
    <li ng-click="goToProduct( listings[11] )">
      <div ng-mouseenter="options11=true" ng-mouseleave="options11=false">
        <img src={{listings[11].MainImage.url_570xN}}>
      <div>
      <span ng-show="options11">
        <button class="heartbtn"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="burgerbtn" ><i class="fa fa-bars" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <form id="urlist">
        <i class="fa fa-caret-up" aria-hidden="true"></i><p>YOUR LISTS</p><input type="text" name="urlist" placeholder="New List">
      </form>
      </span>
      <h3>{{listings[11].title}}</h3>
      <h1>{{listings[11].Shop.shop_name}}</h1>
      <h2>{{listings[11].price | currency}}</h2>
    </li>
<!-- <li><img src={{listing.MainImage.url_570xN}}>
    <h3>Arts & Collectibles</h3></li>
    <li><img src={{listing.MainImage.url_570xN}}>
    <h3>Arts & Collectibles</h3></li>
    <li><img src={{listing.MainImage.url_570xN}}>
    <h3>Arts & Collectibles</h3></li>
    <li><img src={{listing.MainImage.url_570xN}}>
    <h3>Arts & Collectibles</h3></li>
    <li><img src="assets/images/sample-2.png">
    <h3>Arts & Collectibles</h3></li>
    <li><img src="assets/images/sample-2.png">
    <h3>Arts & Collectibles</h3></li>
    <li><img src="assets/images/sample-1.png">
    <h3>Arts & Collectibles</h3></li>
    <li><img src="assets/images/sample-2.png">
    <h3>Arts & Collectibles</h3></li>
    <li><img src="assets/images/sample-2.png">
    <h3>Arts & Collectibles</h3></li>
    <li><img src="assets/images/sample-2.png">
    <h3>Arts & Collectibles</h3></li>
    <li><img src="assets/images/sample-2.png"> -->


    </ul>

    <button class="see-all">See all items ></button>


</div>
</div>
</div>

<div id="footer">

<footer class="grid grid-pad">
  <div class="col-1-1">
    <div class="content upper">
       <h3>Get top trends and fresh editors' picks in your inbox with Etsy Finds.</h3>
       <button>Subscribe</button>
    </div>
  </div>

<!-- Second row -->

  <div class="col-1-5">
    <div class="content">
       <ul>
         <li class="footer-header">Turn your passion into a business</li>
         <li><button>Open a shop</button></li>
            <li></li>
         <li class="footer-header">Sell on Etsy</li>
         <li><a href="#">Seller Handbook</a></li>
         <li><a href="#">Etsy credit card reader</a></li>
         <li><a href="#">Manufacturing</a></li>
       </ul>
    </div>
  </div>
  <div class="col-1-5">
    <div class="content">
      <ul>
       <li class="footer-header">Join the community</li>
       <li><a href="#">Teams</a></li>
       <li><a href="#">Forums</a></li>
       <li><a href="#">Upcoming events</a></li>
       <li><a href="#">Affiliates</a></li>
       <li><a href="#">Etsy Local</a></li>
     </ul>
    </div>
  </div>
  <div class="col-1-5">
    <div class="content">
      <ul>
       <li class="footer-header">Discover and shop</li>
       <li><a href="#">Gift cards</a></li>
       <li><a href="#">Blog</a></li>
       <li><a href="#">Treasury</a></li>
       <li><a href="#">Mobile apps</a></li>
       <li><a href="#">Gift registries</a></li>
       <li><a href="#">Wholesale</a></li>
       <li><a href="#">Search</a></li>
       <li><a href="#">Editors' Picks</a></li>
     </ul>
    </div>
  </div>
  <div class="col-1-5">
    <div class="content">
      <ul>
       <li class="footer-header">Get to know us</li>
       <li><a href="#">About</a></li>
       <li><a href="#">Policies</a></li>
       <li><a href="#">Careers</a></li>
       <li><a href="#">Press</a></li>
       <li><a href="#">Developers</a></li>
       <li><a href="#">Investors</a></li>
     </ul>
    </div>
  </div>
  <div class="col-1-5">
    <div class="content">
      <ul>
       <li class="footer-header">Follow Etsy</li>
       <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
       <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
       <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pinterest</a></li>
       <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
     </ul>
    </div>
  </div>

<!-- Copyright -->
  <div class="col-1-1 copyright">
    <div class="content">
       © 2016 Etsy, Inc.
       <a href="#">Legal</a><a href="#">Privacy</a><a href="#">Interest-based ads</a>
    </div>
  </div>

</footer>
</div>
