<!-- TOP ETSY BAR -->
<div class="homeHeaderWrap">
  <div class="pagePaddingWrap">

    <div class="rightHead">
        <h1>Etsy</h1>

        <input id="searchBar" type="text" name="search" value="" placeholder="Search for frends or trends">
        <button id="searchButton" type="button" name="button">Search</button>
    </div>


    <div class="leftHead">

        <ul>
          <li>
            <div>
              <a id="sellLink" href="https://www.etsy.com/sell">Sell on Etsy</a>
            </div>
          </li>
            <li>
                <div id="homeLink">
                  <a href="https://www.etsy.com/">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    <h4>Home</h4>
                  </a>
                </div>
            </li>
            <li>
                <div class="headerLinks">
                  <a href="#">
                    <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                    <h4>Favorites</h4>
                  </a>
                </div>
            </li>
            <li>
                <div class="headerLinks">
                  <a href="#">
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    <h4>You</h4>
                  </a>
                </div>
            </li>
            <li>
                <div id="cart">
                  <a href="#">
                    <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                    <h4>Cart</h4>
                  </a>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>

<!-- SUBHEADER -->
<div>
  <div class='subHeaderWrap'>
    <div class="subNavBar">
    <ul>
      <li class='navbarItems clothingNavBar'>Clothing & Accessories</li>
      <li class='navbarItems'>Jewelry</li>
      <li class='navbarItems'>Craft Supplies & Tools</li>
      <li class='navbarItems'>Weddings</li>
      <li class='navbarItems'>Entertainment</li>
      <li class='navbarItems'>Home & Living</li>
      <li class='navbarItems'>Kids & Baby</li>
      <li class='navbarItems'>Vintage</li>
      <li class='navbarItems moreNavbar'>More</li>
    </ul>
    </div>
  </div>
</div>

<!-- DROP DOWN MENU -->
<!-- <div class="DropDownWrap">
  <div class="LeftDropDown">
    <ul id="navCLOTHINGandACCESSORIES">
      <li><a href="https://www.etsy.com/c/accessories">
        Accessories</a>
      </li>
      <li><a href="https://www.etsy.com/c/bags-and-purses">
        Bags & Purses</a>
      </li>
      <li><a href="https://www.etsy.com/c/clothing">
        Clothing</a>
      </li>
      <li><a href="https://www.etsy.com/c/shoes">
        Shoes</a>
      </li>
    </ul>
    <ul id=accessories>
      <li><a href="https://www.etsy.com/c/"></a></li>
    </ul>
  </div>
  <div class="MidDropDown">
    Frend
  </div>
  <div class="RightDropDown">
    End
  </div>
</div> -->
<div id="container">
    <div class="user-header">
        <div class="left-top">
            <img src="https://www.etsy.com/images/avatars/default_avatar_75x75.png">
            <div class="user-stuffs">
                <h2 class="user-name">{{shopName}}</h2>
                <button class="user-favorite"><i class="fa fa-heart" aria-hidden="true"></i> Favorite shop</button>
            </div>
        </div>
        <div class="right-top">
          <div class="additional-items">
              <p class="items-number">{{activeItems}}</p>
              <p class="items-text">items</p>
          </div>
            <img src="https://img1.etsystatic.com/139/0/6036607/il_75x75.898694877_dvgy.jpg">
            <img src="https://img0.etsystatic.com/017/0/6036607/il_75x75.548391144_2y7m.jpg">
        </div>

    </div>

    <div class="main-content">
        <div class="left-col">
            <section class="fav">
                <button class="favorite-button"><i class="fa fa-heart" aria-hidden="true"></i> Favorite</button>
                <div class="like-item">
                  <p class="like-text1"> Like this item? </p>
                  <p class="like-text2"> Add it to your favorites to revisit it later. </p>
                </div>
            </section>

            <ul class="product-images">
              <div class="arrow-background-left" ng-click="imgFuncDown()">
                <div class="left-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
              </div>
              <div class="arrow-background-right" ng-click="imgFuncUp()">
                <div class="right-arrow"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
              </div>

                <li>
                  <img src="{{loadImage}}">
                </li>
            </ul>

            <div class="more-images">
              <div class="thumbnail" id={{thumbId}} ng-repeat="thumb in thumbnail" ng-click="thumbImgFunc(thumb)">
                <img src="{{thumb}}"/>
              </div>
              <!-- <div class="thumbnail">
              </div>
              <div class="thumbnail">
              </div>
              <div class="thumbnail">
              </div>
              <div class="thumbnail">
              </div> -->
            </div>
            <div class="zoom">
              <p> <i class="fa fa-search" aria-hidden="true"></i> zoom </p>
            </div>

            <section class="custom-order">
                <img src="https://www.etsy.com/images/avatars/default_avatar_75x75.png">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
                <p> <a href="#"><span class="front-text">Request a custom order</span></a> and have something made just for you. </p>
            </section>

            <section class="reviews">
              <div class="tabs">
                <ul>
                  <li ng-click="deatsTabFunc()">Item details</li><li ng-click="reviewTabFunc()">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    (14)</li><li class="list-right" ng-click="shipTabFunc()">Shipping & Policies</li>
                </ul>
              </div>
              <div class="details-content" ng-show="deatsTab">
                <p>{{desc}}</p>

              </div>
              <div class="reviews-content" ng-show="reviewTab">
                <div class="reviews-main">
                  <div class="reviewer">
                    <img src="https://www.etsy.com/images/avatars/default_avatar_75x75.png">
                    <p class="reviewed-by">Reviewed by</p>
                    <p class="reviewed-user"><a href="#">Amy G</a></p>
                  </div>
                  <div class="review-right">
                    <div class="review-stars-date">
                      <p class="reviewer-stars"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
                      <p class="reviewed-date">May 9, 2016</p>
                    </div>
                    <div class="review-par">
                      <p>This is a gift for my husband's birthday. He loves it! He especially appreciates that it is unfinished in such a way that he can have it shaped to his face, which is important given her has a prodigious beard.</p>
                    </div>
                    <div class="reviewed-item">
                      <img src="https://img0.etsystatic.com/031/0/6036607/il_75x75.550609164_14hg.jpg">
                      <p class="reviewed-item-name">Kraken Respirator</p>
                    </div>
                  </div>
                </div>
                <button class="read-all-btn">Read All Reviews (14)</button>
              </div>
              <div class="shipping-content" ng-show="shipTab">
                <div class="payment-info">
                  <p class="methods-text">Payment methods</p>
                  <img class="credit-cards" src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg">
                  <p class="gift-card"><i class="fa fa-gift" aria-hidden="true"></i>Etsy Gift Cards</p>
                  <p class="money-order">Money Order</p>
                  <p class="ready-to-ship">Ready to ship in 6-8 weeks.</p>
                  <p class="shipping-cost-title">Shipping costs</p>
                </div>

                <div class="shipping-info">
                  <div class="shipping-line">
                    <p class="ship-to">Shipping to</p>
                    <p class="zip">Zip or postal code</p>
                    <p class="cost">Cost</p>
                  </div>
                  <div class="button-line">
                    <button class="country">United States <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                    <input class="zip-input" type="text"></input>
                    <a href="#">Get Shipping Costs</a>
                  </div>
                  <p class="get-shipping">Get shipping costs for multiple items in your cart.</p>
                  <p class="policies-title">Policies</p>



              </div>
              <div class="policies">
                <div class="pol-1">
                  <div class="left-pol-1">
                    <p>Payment</p>
                  </div>
                  <div class="right-pol-1">
                    <p>{{paymentPolicy}}</p>
                  </div>
                </div>
                <div class="pol-1">
                  <div class="left-pol-1">
                    <p>Shipping</p>
                  </div>
                  <div class="right-pol-1">
                    <p>{{shippingPolicy}}</p>
                  </div>
                </div>

              </div>


            </section>

            <!-- <section class="meet-owner">
                meet the owner
            </section> -->

        </div>

        <div class="right-col">
            <section class="overview">
              <div class="overview-content">
                <p class="item-title">{{title}}</p>
                <p class="price">{{price | currency}}</p>
                <a href="#"><p class="question">Ask a question</p></a>
                <p class="availability" ng-show="oneOption">Only 1 left</p>
                <p class="availability" ng-show="availOptions">Quantity</p>
                <select class="avail-options" ng-show="availOptions">
                  <option ng-repeat="quant in quantOptions" value="{{quant}}">{{quant}}</option>
                </select>
                <p class="type-of-option">D-ring for leash</p>
                <div class="item-options">
                  <select class="selections">
                    <option value="select an option">select an option</option>
                    <option value="w d-ring for leash [$620.00]">w d-ring for leash [$620.00]</option>
                    <option value="w/o d-ring for leash [$600.00]">w/o d-ring for leash [$600.00]</option>
                  </select>
                </div>
              <ul class="overview-list">Overview
                <li>Handmade item</li>
                <li>Materials: {{material}}</li>
                <li>Only ships within United States.</li>
                <li>Feedback: <a href="#">14 reviews</a></li>
                <li>Favorited by: <a href="#">{{favorers}} people</a></li>
              </ul>
              <p class="gift-line"><i class="fa fa-gift" aria-hidden="true"></i> This shop accepts Etsy gift cards</p>


            </div>
            <div class="background-button">
            <button class="add-to-cart">Add to cart</button>
            </div>
            </section>


            <section class="social">
              <div class="button-container">
                <button class="favorite-button"><i class="fa fa-heart" aria-hidden="true"></i> Favorite</button>
                  <button class="add-to-button"><i class="fa fa-bars" aria-hidden="true"></i> Add to <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </button>
              </div>
              <ul>
                <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a></li>
                <li class="pinit"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i>in it</a></li>
                <li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>umblr <i class="fa fa-plus" aria-hidden="true"></i></a></li>
                <li class="facebook"><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like 36k</a></li>
              </ul>
            </section>

        </div>
    </div>
</div>
  <div class="related">
    <p>Related to this item</p>
  <div class="links">
    <a href="#" ng-repeat="t in tPath">{{t}}</a> <a href="#" ng-repeat="tag in tags">{{tag}}</a>
  </div>
  </div>
  <ul class="item-stats">
    <li>Listed on {{listedOn * 1000 | date: 'MMM dd, yyyy'}}</li>
    <li>{{views}} views</li>
    <a href="#"><li>{{favorers}} Favorites</li></a>
    <a href="#"><li>3 treasury lists</li></a>
    <a href="#"><li>Add item to treasury</li></a>
    <a href="#"><li class="right-side">Report this item to Etsy</li></a>
  </ul>
</div>
