<!-- wrapper for width of page -->
<div class='pageWidthWrapper' ng-controller="trendingController">
    <!-- wrapper for product grid -->
    <div class='productGridWrapper'> <!-- grid code -->
        <div class="section group">
          <ul>
            <!-- <div class=" col span_1_of_4" ng-repeat="one in first40"> -->

                    <li class='productBox' ng-repeat="one in callOne"><img class='image' ng-src="{{one.Images[0].url_570xN}}">
                        <div class='title'>{{one.title}}</div>
                        <div class='shop'>{{one.Shop.shop_name}} </div>
                        <div class='price'>{{one.price}} {{one.currency_code}}</div>
                    </li>

            <!-- </div> -->
          </ul>
            <!-- below closes section group-->
        </div>
        <!-- below closes productGridWrapper -->
    </div>
    <!-- below closes pageWidthWrapper -->
</div>
