#categories{
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// .container{
//   height: 100%;
// }

.grid-pad{
  padding-top: 87px;
  padding-left: 20px;
  padding-right: 0px;
}

.grid{
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
}


// "All Categories Sidebar"
.cole-3-12{
  width: 25%;
  font-family: $Font-Lato;

  h1{
    font-family: $Font-Bitter;
    font-size: 2.4em;
    padding-bottom: 24px;
  }
}

.cat-bar{
  padding-left: 18px;
  line-height: 1.6;
  li{
  &:hover{
    text-decoration: underline;
  }
}
}

.allItems{
  border-top: 1px solid rgba(173, 168, 168, 0.48);
  margin-right: 18px;
  padding-top: 10px;
  margin-top: 20px;
}




// Main Content featuring products

.cole-9-12{
  width: 75%;
display: inline-block;
padding-bottom: 5em;
}




[class*='cole-'] {
    float: left;
    padding-right: 20px;
  }

.content{
  border: 1px solid rgba(173, 168, 168, 0.48);
  background: #FAFAFA;
    color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: .7%;
    h3{
      font-size: 18px;
    text-align: center;
    font-weight: 200;
    margin: 0;
    }
    // img{
    //   display: inline-block;
    //   position: relative;
    //   height:200px;
    //   padding: 10px 0 0 10px;
    //
    // }

}

.content-gallery{
padding-top: 51px;

.gallery-box{
  width:105%;
  margin-top: 7%;
  display: inline-block;
  position: relative;

  li{
    display: inline-block;
    width: 30%;
    border-radius: .7%;

    img{
      height: 225px;
      width: 121%;
      padding-right: 4em;
      padding-top: 30px;
    }
    h3{
    font-family: "Bitter", serif;
    font-size: 18px;
    height: 50px;
    width: 250px;
    background: #FFFFFF;
    margin-top: -3px;
    padding-top: 16px;
    padding-left: 20px;
    }
  }
}
}


.showCase1{
  background: #fafafa;
  border: .7px solid rgba(173, 168, 168, 0.48);
  display: block;
  float:left;
  position: absolute;
  line-height: 1.8;


  img{
    height: 300px;
  }
  h3{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Bitter;
    font-size: 1.1em;
    padding-left: 10px;

  }
  h2{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Lato;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  ul{
    li{
      &:hover{
        text-decoration: underline;
      }
    }
    font-family: $Font-Lato;
    padding-left:10px;
    font-size: 1em;

  }
}

.showCase2{
  background: #fafafa;
  border: .7px solid rgba(173, 168, 168, 0.48);
  display: block;
  float:right;
  position: relative;
  line-height: 1.8;
  margin-right: 40px;

  img{
    height: 300px;
  }
  h3{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Bitter;
    font-size: 1.1em;
    padding-left: 10px;

  }
  h2{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Lato;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  ul{
    li{
      &:hover{
        text-decoration: underline;
      }
    }
    font-family: $Font-Lato;
    padding-left:10px;
    font-size: 1em;

  }
}


.browse-more{
  font-family: $Font-Bitter;
  font-size: 2.2em;
  text-align: center;
  // padding-top: 80px;
}

.browse-list{
  width:104%;
padding-bottom: 2em;
display: inline-block;
  position: relative;

  li{
    display: inline-block;
    width: 30%;
    border-radius: .7%;

    img{
      height: 225px;
      width: 100%;
      padding-right: 4em;
      padding-top: 22px;
      margin-bottom: -4px;
    }
    h3{
    font-family: "Bitter", serif;
    font-size: 18px;
    height: 50px;
    width: 285px;
    background: #FFFFFF;
    margin-top: -3px;
    padding-top: 16px;
    padding-left: 20px;
    }
    h1{
      font-family: "Lato", sans-serif;
      font-size: 12px;
      color: gray;
      letter-spacing: 1px;
      width: 285px;
      background: #FFFFFF;
      padding-top: 12px;
      padding-left: 20px;

    }
}
}

.shop-more{
  font-family: $Font-Bitter;
  font-size: 2.2em;
  text-align: center;
  // padding-top: 80px;
}

.shop-list{
  width:104%;
padding-bottom: 2em;
display: inline-block;
  position: relative;

  li{

    display: inline-block;
    width: 30%;
    border-radius: .7%;


    img{
      height: 225px;
      width: 101.5%;
      padding-right: 4em;
      padding-top: 22px;
    }
    h3{
    font-family: $Font-Lato;
    font-size: 15px;
		font-weight: 100;
    height: 50px;
    width: 285px;
    background: #FFFFFF;
    margin-top: -3px;
    padding-top: 16px;
    padding-left: 5px;
		overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
		h2{
			font-family: $Font-Lato;
			font-size: 12px;
			color:$Green;
			height: 15px;
	    width: 285px;
			text-align: right;
	    background: #FFFFFF;
			padding-left: 5px;
		}
		h1{
			font-family: $Font-Lato;
			font-size: 14px;
			color:$Light-Grey;
			height: 4px;
	    width: 285px;
	    background: #FFFFFF;
			padding-left: 5px;
		}

.heartbtn{
	position: absolute;
	margin-left: 16%;
	margin-top: -17.5%;
	height: 26px;
	width: 32px;
	color: #a09c98;
	font-size: 1em;
	border-radius: 13%;
	border: 1px solid $Light-Grey;

}
.burgerbtn{
	position: absolute;
	margin-left: 19%;
	margin-top: -17.5%;
	height: 26px;
	width: 44px;
	color: #a09c98;
	font-size: 1em;
	border-radius: 13%;
	border: 1px solid #aaa;
}

}
}




.see-all{
      font-family: "Lato", sans-serif;
      font-size: 1em;
      font-weight: 400;
      border-radius: 5.9%;
      height: 45px;
      width: 130px;
      border: 0.7px solid rgba(173, 168, 168, 0.48);
      background: #FFFFFF;
      margin-left: 38%;
      margin-top: 2%;
      margin-bottom: 4%;
}
}
