*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// .container{
//   height: 100%;
// }

.grid-pad{
  padding-top: 87px;
  padding-left: 20px;
  padding-right: 0px;
}

.grid{
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
}


// "All Categories Sidebar"
.cole-3-12{
  width: 25%;
  font-family: $Font-Lato;

  h1{
    font-family: $Font-Bitter;
    font-size: 2.4em;
    padding-bottom: 24px;
  }
}

.cat-bar{
  padding-left: 18px;
  line-height: 1.6;
  li{
  &:hover{
    text-decoration: underline;
  }
}
}

.allItems{
  border-top: 1px solid rgba(173, 168, 168, 0.48);
  margin-right: 18px;
  padding-top: 10px;
  margin-top: 20px;
}




// Main Content featuring products

.cole-9-12{
  width: 75%;

}




[class*='cole-'] {
    float: left;
    padding-right: 20px;
  }

.content{
  border: 1px solid rgba(173, 168, 168, 0.48);
  background: #FAFAFA;
    color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: .7%;
    h3{
      font-size: 18px;
    text-align: center;
    font-weight: 200;
    margin: 0;
    }
    // img{
    //   display: inline-block;
    //   position: relative;
    //   height:200px;
    //   padding: 10px 0 0 10px;
    //
    // }

}

.content-gallery{
padding-top: 51px;

}


.showCase1{
  background: #fafafa;
  border: .7px solid rgba(173, 168, 168, 0.48);
  display: block;
  float:left;
  position: absolute;
  line-height: 1.8;


  img{
    height: 300px;
  }
  h3{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Bitter;
    font-size: 1.1em;
    padding-left: 10px;

  }
  h2{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Lato;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  ul{
    li{
      &:hover{
        text-decoration: underline;
      }
    }
    font-family: $Font-Lato;
    padding-left:10px;
    font-size: 1em;

  }
}

.showCase2{
  background: #fafafa;
  border: .7px solid rgba(173, 168, 168, 0.48);
  display: block;
  float:right;
  position: relative;
  line-height: 1.8;
  margin-right: 40px;

  img{
    height: 300px;
  }
  h3{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Bitter;
    font-size: 1.1em;
    padding-left: 10px;

  }
  h2{
    &:hover{
      text-decoration: underline;
    }
    font-family: $Font-Lato;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  ul{
    li{
      &:hover{
        text-decoration: underline;
      }
    }
    font-family: $Font-Lato;
    padding-left:10px;
    font-size: 1em;

  }
}


.gallery{
  // margin-left: 26.5%;
  margin-top: 65%;
  display: inline-block;
  position: relative;
  img{
    display: block;
    height: 250px;
  }
}
