.homeHeaderWrap {
    background: white;
    position: relative;
    display: block;
    padding: 2em 2em 4em;
    .rightHead {
        position: absolute;
        display: inline-block;
        h1 {
            font-family: $Font-Bitter;
            color: $Orange;
            font-size: 2em;
        }
    }
    .leftHead {
        position: absolute;
        right: 2em;
        display: inline-block;
        font-family: $Font-Lato;
        font-weight: 300;
        #sellLink{
          vertical-align: super;
          color: $Blue;
          text-decoration: none;
        }
        ul {
          color: $Dark-Grey;
            display: inline-block;
            li {
              font-weight: 400;
              text-align: center;
              display: inline-block;
              .headerLinks{
                border-right: 1px solid rgba(0,0,0,.1);
                padding: 0 .5em;
              }
              #cart{
                padding: 0 .5em;
              }
              h4{
                padding-top: .3em;
                font-size: .9em;
              }
            }
        }
    }
}
