.wrapper{
  width:100%;
  top:0;
  font-family: $Font-Lato;
  color:$Light-Grey;
  font-size:15px;
  display:inline-block;
  background: #fff;
  height:50px;
  position: absolute;
}
.navbarItems{
  font-family: $Font-Lato;
  color:$Mid-Grey;
  font-size:15px;
  display:inline-block;
  padding: 15px 9px 1px 9px;
  // margin-left: 35px;
}

.clothingNavBar{
  margin-left: 30px;
}

.moreNavbar{
  display:none;
}
