.homeHeaderWrap {
    background: white;
    position: relative;
    display: block;
    padding: 1.5em 3em 4em;
    border-bottom: 1px solid rgba(0,0,0,.1);
    .pagePaddingWrap {
        margin: 0 auto;
        position: relative;
        width: 75%;
        .rightHead {
            position: absolute;
            display: inline-block;
            h1 {
                display: inline-block;
                font-family: $Font-Bitter;
                color: $Orange;
                font-size: 2.5em;
                margin-right: 0.5em;
            }
            #searchBar {
                display: inline-block;
                font-size: 0.9em;
                padding: 0.5em;
                width: 15em;
                border: 1px solid $Light-Grey;
                background-color: #fbfbfa;
                border-radius: 3px 0 0 3px;
                box-shadow: 0 0 2px 1px #e6e6e6 inset;
                &:focus {
                    border: 1px solid $Blue;
                    outline: none;
                }
            }
            #searchButton {
                font-size: 0.9em;
                background: #0192B5;
                color: white;
                border: 1px solid #0192B5;
                border-radius: 0 3px 3px 0;
                padding: 0.5em 1em;
                margin-left: -0.4em;
                &:hover {
                    background-color: $Darker-Blue;
                }
            }
        }
        .leftHead {
            position: absolute;
            right: 0;
            display: inline-block;
            font-family: $Font-Lato;
            ul {
                color: $Dark-Grey;
                display: inline-block;
                padding-right: 0;
                li {
                    text-align: center;
                    display: inline-block;
                    #sellLink {
                        vertical-align: super;
                        color: $Blue;
                        text-decoration: none;
                        padding-right: 1em;
                    }
                    .headerLinks {
                        border-right: 1px solid rgba(0,0,0,.1);
                        padding: 0 1em;
                        a {
                            color: $Dark-Grey;
                            text-decoration: none;
                            outline: none;
                            &:visited {
                                color: $Dark-Grey;
                            }
                        }
                    }
                    #homeLink {
                        @extend .headerLinks;
                        border-left: 1px solid rgba(0,0,0,.1);
                        a {
                            color: $Dark-Grey;
                            text-decoration: none;
                            outline: none;
                            &:visited {
                                color: $Dark-Grey;
                            }
                        }
                    }
                    #cart {
                        padding: 0 0 0 1em;
                        a {
                            color: $Dark-Grey;
                            text-decoration: none;
                            outline: none;
                            &:visited {
                                color: $Dark-Grey;
                            }
                        }
                    }
                    i {
                        font-size: 1.5em;
                    }
                    h4 {
                        padding-top: 0.5em;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}
.subHeaderWrap {
    width: 100%;
    font-family: $Font-Lato;
    color: $Light-Grey;
    font-size: 15px;
    display: inline-block;
    background: #fff;
    height: 50px;
    position: relative;
    .subNavBar {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 75%;
    }
    .navbarItems {
        font-family: $Font-Lato;
        color: $Mid-Grey;
        font-size: 15px;
        display: inline-block;
        padding: 1.1em 0.6em;
        &:hover {
            border-bottom: 3px solid $Orange;
            color: $Dark-Grey;
            cursor: pointer;
        }
    }
    .clothingNavBar {
        margin-left: 30px;
    }
    .moreNavbar {
        display: none;
    }
}
.DropDownWrap {
    background-color: white;
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    box-shadow: 1px 5px 20px $Light-Grey;
    border-top: none;
    padding: 1.5em 1em 1.5em 0;
    a {
        color: $Dark-Grey;
        text-decoration: none;
    }
    .LeftDropDown {
        display: inline-block;
        width: 24%;
        vertical-align: top;
        li {
            padding: 0.45em 0;
            font-size: 0.9em;
            letter-spacing: 0.025em;
        }
        .navHighlight {
            color: $Blue;
            background-color: #E4F3F7;
            padding: 0.5em 6em 0.2em 1.7em;
            #angleRightHighlight {
                margin: -.65em -.3em -.65em 0;
                position: relative;
                vertical-align: middle;
                background-color: #E4F3F7;
                font-weight: 900;
                padding: 0.5em 0.38em 0.4em 2em;
            }
        }
        .LeftDropDown-nav {
            padding-left: 1.5em;
        }
        .fa-angle-right {
            float: right;
        }
    }
    .MidDropDown {
        width: 47%;
        display: inline-block;
        position: relative;
        li {
            padding: 0.45em 1.5em;
            font-size: 0.9em;
            letter-spacing: 0.025em;
            border-left: 1px solid $Light-Grey;
            border-right: 1px solid $Light-Grey;
            .midNavSubItem {
                font-size: 0.89em;
                color: $Light-Grey;
                padding-left: 1em;
            }
        }
        p {
            position: absolute;
            right: 1em;
            top: 0;
            float: right;
            border-left: none;
            .navAllItems {
                display: inline-block;
                color: $Black;
                letter-spacing: 0.03em;
                font-size: 0.92em;
                font-weight: 600;
                padding-right: 2.5em;
            }
        }
    }
    .RightDropDown {
        display: inline-block;
        @extend .LeftDropDown;
        padding-left: 1.5em;
        li {
            bottom: 1;
        }
        #editorsPicks-img {
            position: relative;
            width: 12em;
            height: 10em;
            padding-left: 0.5em;
        }
        #editorsPicks {
            font-size: 0.7em;
            letter-spacing: 0.4em;
            color: $Light-Grey;
        }
        #editorsPicks-item {
            font-family: Bitter;
            color: $Black;
            font-size: 1.2em;
        }
    }
}
