.homeHeaderWrap {
    background: white;
    position: relative;
    display: block;
    padding: 1.5em 3em 4em;
    border-bottom: 1px solid rgba(0,0,0,.1);

    .rightHead {
        position: absolute;
        display: inline-block;
        h1 {
            font-family: $Font-Bitter;
            color: $Orange;
            font-size: 2em;
        }
    }
    .leftHead {
        position: absolute;
        right: 2em;
        display: inline-block;
        font-family: $Font-Lato;

        ul {
          color: $Dark-Grey;
          display: inline-block;
          padding-right: 1em;
            li {
              text-align: center;
              display: inline-block;
              #sellLink{
                vertical-align: super;
                color: $Blue;
                text-decoration: none;
                padding-right: 1em;
              }
              .headerLinks{
                border-right: 1px solid rgba(0,0,0,.1);
                padding: 0 1em;
              }
              #homeLink{
                @extend .headerLinks;
                border-left: 1px solid rgba(0,0,0,.1);
              }
              #cart{
                padding: 0 1em;
              }
              i{
                font-size: 1.5em;
              }
              h4{
                padding-top: .5em;
                font-size: .8em;
              }
            }
        }
    }
}
