body {
  font-family: $Font-Lato;
}
// .angular-with-newlines {
//     white-space: pre-wrap;
// }
.product-body {


#container {
  width: 1050px;
  padding-top: 25px;
  margin: 0 auto;
}

.user-header {
  margin-bottom: 25px;
}

.left-top {
  display: inline-block;
  width: 40%;
  .user-stuffs {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 20px;
  }
  .user-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .user-favorite {
    padding: 5px 10px;
    font-size: 14px;
    width: 135px;
    background-color: #fff;
    border: 1px solid $Light-Grey;
    border-radius: 5px;
    cursor: pointer;
  }:hover {
    background-color: $BackgroundGrey;
  }
  .user-favorite:focus {
    border: 1px solid $Blue;
    outline: none;
  }
  img {
    border: 1px solid $Light-Grey;
    border-radius: 5px;
  }
  .fa {
    color: $Light-Grey;
    padding-right: 5px;
  }
}

.right-top {
  display: inline-block;
  width: 40%;
  float: right;
  img {
    float: right;
    margin-left: 20px;
    border: 1px solid $Light-Grey;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    opacity: .9;
  }img:hover {
    opacity: 1;
  }
  .additional-items {
    width: 80px;
    display: inline-block;
    vertical-align: top;
    float: right;
    text-align: center;
    border: 1px solid $Light-Grey;
    border-radius: 5px;
    height: 58px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: -20px;
    cursor: pointer;
    background-color: #fff;
      .items-number {
        font-size: 22px;
        color: $Blue;
        opacity: 1;
      }
      .items-text {
        font-size: 14px;
        color: $Light-Grey;
        padding-bottom: -20px;
        opacity: 1;
      }
  }:hover {
    background-color: $Light-Blue;
    opacity: .75;
  }
}

.main-content {
  background-color: #fff;
  border: 1px solid $Light-Grey;
  border-radius: 3px;
  padding: 15px;
}

.left-col {
  display: inline-block;
}

.right-col {
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
  width: 390px;
  .overview {
    position: relative;
    vertical-align: top;
    border: 8px solid #e4f3d9;
    border-radius: 3px;
    .overview-content{
      padding: 15px;
      .item-title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .price{
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .question{
        padding: 2px 10px;
        display: inline-block;
        border: 1px solid $Light-Grey;
        border-radius: 3px;
        font-weight: 700;
        font-size: 14px;
        vertical-align: top;
        margin-left: 145px;
        margin-right: 0px;
        color: $Dark-Grey;
      }
      .availability{
        margin-bottom: 10px;
        color: $Dark-Grey;
        font-size: 14px;
      }
      .type-of-option{
        margin-bottom: 2px;
        color: $Dark-Grey;
        font-size: 14px;
      }
      .overview-list{
        font-size: 14px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 5px;
        li{
          margin-left: 25px;
          font-weight: 400;
          color: $Dark-Grey;
          list-style: disc;
          line-height: 1.25;
          margin-bottom: 1.25px;
          a{
            text-decoration: none;
            color: $Blue;
          }a:hover{
            border-bottom: 1px solid $Blue;
          }
        }
      }
      .gift-line{
        font-size: 14px;
        margin-top: 15px;
        color: $Dark-Grey;
        i{
          color: $Green;
          font-size: 20px;
          margin-left: 2px;
          margin-right: 5px;
        }

      }
    }
    .background-button{
      background-color: #e4f3d9;
      border-top: 8px solid #e4f3d9;
      .add-to-cart{
        width: 100%;
        border-top: none;
        border-left: none;
        border-bottom: none;
        border-right: none;
        border-radius: 3px;
        background-color: $Cart-Green;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
      }.add-to-cart:hover{
        background-color: $Cart-Green-Hover;
      }
    }
  }
  .social{
    width: 100%;
    margin-top: 20px;
    background-color: $BackgroundGrey;
    border-radius: 3px;
    padding-top: 10px;
    .button-container{
      width: 90%;
      //margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      padding: 10px 10px;

      button{
        font-size: 14px;
        color: $Light-Grey;
        background-color: #fff;
        border: 1px solid $Light-Grey;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 15px;
        cursor: pointer;
        //padding: 8px 0px;
      }
    }
    li{
      display: inline-block;
      margin: 10px;
      padding: 2px 5px;
      border-radius: 3px;
      font-size: 12px;
      a{
        text-decoration: none;
        color: white;
      }
    }
    .twitter{
      background-color: $Light-Grey;
      border: 1px solid $Dark-Grey;
      i{
        color: #00aced;
      }
    }
    .pinit{
      background-color: $Light-Grey;
      border: 1px solid $Dark-Grey;
      i{
        color: #cb2027;
      }
    }
    .tumblr{
      background-color: #32506d;
      padding: 4px;
    }
    .facebook{
      background-color: #3b5998;
      padding: 4px;
    }
  }
}

.fav {
  background-color: $Light-Blue;
  margin-bottom: 10px;
  border-radius: 3px;
  .favorite-button {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    font-size: 13px;
    border: 1px solid $Light-Grey;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    cursor: pointer;
  }.favorite-button:hover {
    background-color: $BackgroundGrey;
  }
  .like-item {
    display: inline-block;
  }
  .like-text1 {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .like-text2 {
    font-size: 15px;
    color: $Light-Grey;
    margin-bottom: 15px;
  }
  .fa {
    color: $Light-Grey;
  }
}

.product-images {
  // display: block;
  height: 750px;
  background: $BackgroundGrey;
  display: flex;
  justify-content: center;
  align-items: center;
  .arrow-background-left{
    position: absolute;
    margin-top: 350px;
    background: #666;
    opacity: .25;
    height: 80px;
    width: 40px;
    z-index: 351;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }.arrow-background-left:hover {
    background-color: $Blue;
    opacity: .5;
      .fa {
        color: #fff;
        opacity: 1;
      }
  }
  .left-arrow{
    position: absolute;
    z-index: 500;
    font-size: 3em;
    margin-left: 5px;
    height: 80px;
    width: 40px;
    font-weight: 700;
    // background: $BackgroundGrey ;
    opacity: .7;
    padding-top: 18px;
    color: $BackgroundGrey;
    z-index: 500;
  }
  .arrow-background-right{
    position: absolute;
    margin-top: 350px;
    margin-left: 543px;
    background: #666;
    opacity: .25;
    height: 80px;
    width: 40px;
    z-index: 351;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
  } .arrow-background-right:hover {
    background-color: $Blue;
    opacity: .5;
      .fa {
        color: #fff;
        opacity: 1;
      }
  }

  .right-arrow{
    position: absolute;
    z-index: 500;
    font-size: 3em;
    height: 80px;
    width: 40px;
    font-weight: 700;
    // background: $BackgroundGrey ;
    opacity: .7;
    padding-top: 18px;
    color: $BackgroundGrey;
    z-index: 500;
  }
  li{
      display: inline-block;
      vertical-align: middle;
      width: 100%;
  }

  img {
    display: inline-block;
    // height: 100%;
    // width: auto;
    width: 100%;
    vertical-align: middle;
  }
}

.more-images {
  margin-left: 175px;
  // margin-right: -100px;
  width: 225px;
  display: inline-block;
}

.thumbnail {
  // height: 30px;
  // width: 30px;
  // border: 1px solid $Light-Grey;
  display: inline-block;
  margin: 5px;
  img{
    height: 30px;
    width: 30px;
    border-radius: 3px;
    opacity: .5;
    cursor: pointer;
  }img:hover{
    opacity: .75;
  }
}

.zoom {
  display: inline-block;
  color: $Light-Grey;
  width: 70px;
  margin-left: 110px;
  vertical-align: top;
  margin-top: 5px;
  cursor: pointer;
  p {
    margin-left: 12px
  }
}

.custom-order {
  margin-left: 20px;
  margin-top: 30px;
  img {
    height: 50px;
    width: 50px;
    display: inline-block;
  }
  .fa {
    display: inline-block;
    color: $Light-Blue;
    vertical-align: top;
    font-size: 32px;
    margin-top: 8px;
    margin-right: -14px;
    margin-left: 4px;
  }
  p {
    background-color: $Light-Blue;
    color: $Dark-Grey;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 18px 25px 16px 10px;
    margin-left: 10px;
      .front-text {
        color: $Darker-Blue;
        font-weight: bold;
      }
  }
  a {
    text-decoration: none;
  }
}

.reviews {
  .tabs {
    border-bottom: 1px solid $Light-Grey;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
      .fa {
        color: #FFDC1E;
      }
  }
  ul {
    width: 405px;
    margin-left: auto;
    margin-right: auto;
  }
  li {
    display: inline-block;
    padding: 10px;
    border-top: 1px solid $Light-Grey;
    border-left: 1px solid $Light-Grey;
    color: $Blue;
    font-weight: bold;
    cursor: pointer;
  }
  .list-right {
    border-right: 1px solid $Light-Grey;
  }
  .details-content {
    width: 540px;
    color: $Dark-Grey;
    line-height: 1.75;
    font-size: 15px;
    p{
      white-space: pre-line;
    }
  }
  .reviews-content {
    // width: 550px;
    margin-top: 40px;
    .reviews-main {
      border-bottom: 1px solid $Light-Grey;
    }
    .reviewer {
      display: inline-block;
      margin-left: 30px;
      margin-right: 65px;
      text-align: center;
      vertical-align: top;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 8px;
      }
      .reviewed-by {
        color: $Light-Grey;
        font-size: 13px;
        padding-bottom: 3px;
      }
      .reviewed-user {
        color: $Blue;
        font-size: 13px;
          a {
            text-decoration: none;
            color: $Blue;
          }
      }
    }
    .review-right {
      display: inline-block;
      width: 405px;
      margin-right: 0;
      .review-stars-date {
        margin-bottom: 10px;
        p {
          display: inline-block;
          font-size: 13px;
          width: 395px;
          color: $Light-Grey;
        }
        .fa {
          color: #FFDC1E;
        }
        .reviewer-stars {
          width: 72px;
          margin-right: 250px;
        }
        .reviewed-date {
          width: 75px;
        }

      }
      .review-par {
        width: 380px;
        font-size: 15px;
        color: $Dark-Grey;
        margin-bottom: 12.5px;
        line-height: 1.5;
      }
      .reviewed-item {
        margin-bottom: 22px;
        img {
          height: 45px;
          width: 45px;
          display: inline-block;
          margin-right: 5px;
        }
        .reviewed-item-name {
          font-size: 13px;
          color: $Light-Grey;
          display: inline-block;
          vertical-align: top;
        }
      }

      }
      .read-all-btn {
        font-size: 15px;
        font-weight: 700;
        background-color: #fff;
        border: 1px solid $Light-Grey;
        border-radius: 3px;
        padding: 8px 15px;
        margin-top: 30px;
        cursor: pointer;
      }.read-all-btn:hover {
        background-color: $BackgroundGrey;
      }
      }
  .shipping-content {
    .payment-info {
      border-bottom: 1px solid $Light-Grey;
    }
    .methods-text {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .credit-cards {
      width: 160px;
      height: auto;
      display: inline-block;
      margin-bottom: 7px;
    }
    .gift-card {
      display: inline-block;
      vertical-align: top;
      color: $Dark-Grey;
      font-size: 15px;
      margin-top: 18px;
      margin-left: 10px;
      .fa {
        color: $Green;
        font-size: 22px;
        margin-right: 5px;
      }
    }
    .money-order {
      color: $Dark-Grey;
      font-size: 15px;
      margin-bottom: 30px;
    }
    .ready-to-ship {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .shipping-cost-title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .shipping-info {
      border-bottom: 1px solid $Light-Grey;
    }
    .shipping-line {
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
        .ship-to {
          display: inline-block;
          margin-right: 180px;
        }
        .zip {
          display: inline-block;
          margin-right: 75px;
        }
        .cost {
          display: inline-block;
        }
    }
    .button-line {
      margin-top: 5px;
        .country {
          width: 220px;
          padding: 5px;
          text-align: left;
          display: inline-block;
          border: 1px solid $Light-Grey;
          background-color: #fff;
          border-radius: 3px;
          cursor: pointer;
          margin-right: 30px;
            .fa {
              color: $Light-Grey;
            }
        }
        .zip-input {
          display: inline-block;
          width: 140px;
          padding: 5px;
          border: 1px solid $Light-Grey;
          background-color: #fff;
          border-radius: 3px;
          margin-right: 33px;
        }
        a {
          text-decoration: none;
          color: $Blue;
          font-size: 15px;
        }
    }
  } .get-shipping {
      color: $Light-Grey;
      font-size: 15px;
      margin-top: 25px;
      margin-bottom: 30px;
  }
    .policies-title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .policies{
      font-size: 15px;
      margin-top: 20px;
      color: $Dark-Grey;
      line-height: 1.5;
      width: 500px;
    }
    .pol-1{
      margin-bottom: 45px;
    }
    .left-pol-1{
      display: inline-block;
      vertical-align: top;


    }
    .right-pol-1{
      display: inline-block;
      margin-left: 150px;
      vertical-align: top;
      p {
        display: inline-block;
        vertical-align: top;
      }
    }
}
.related {
  margin-left: 150px;
  margin-top: 50px;
  p{
    font-weight: 700;
    font-size: 15px;
  }
  .links{
    margin-top: 20px;
    width: 80%;
    a{
      border: 1px solid $Light-Grey;
      text-decoration: none;
      border-radius: 3px;
      padding: 5px 5px;
      background-color: #fff;
      margin-left: 8px;
      margin-bottom: 8px;
      color: $Blue;
      font-size: 15px;
      display: inline-block;
    }a:hover{
      background-color: $Light-Blue;
    }
  }
}
.item-stats{
  margin-top: 35px;
  margin-left: 150px;
  font-size: 13px;
  li {
    display: inline-block;
    margin-right: 10px;
    color: $Light-Grey;
  }
  a li{
    color: $Blue;
  }a li:hover{
    border-bottom: 1px solid $Blue;
  }
  .right-side{
    color: $Light-Grey;
    margin-left: 300px;
  }.right-side:hover{
    border-bottom: 1px solid $Light-Grey;
  }
}
.zoom-modal{
  position: absolute;
  top: 150px;
  margin-left: 100px;
  width: 1200px;
  z-index: 600;
  button{
    position: absolute;
    z-index: 501;
    margin-left: 1195px;
  }
  img{
    // position: absolute
    border-radius: 5px;
    background-color: $Dark-Grey;
    width: 100%;
    opacity: 1;
    z-index: 600;
    max-height: 99%;
    max-width: 99%;
    // margin-left: auto;
    // margin-right: auto;
    padding: 15px 15px 15px 15px;
  }
}
}
