body {
  font-family: $Font-Lato;
}

#container {
  width: 1050px;
  margin: 0 auto;
}

.user-header {
  margin-bottom: 25px;
}

.left-top {
  display: inline-block;
  width: 40%;
  .user-stuffs {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 20px;
  }
  .user-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .user-favorite {
    padding: 5px 10px;
    font-size: 14px;
    width: 135px;
    background-color: #fff;
    border: 1px solid $Light-Grey;
    border-radius: 5px;
    cursor: pointer;
  }:hover {
    background-color: $BackgroundGrey;
  }
  .user-favorite:focus {
    border: 1px solid $Blue;
    outline: none;
  }
  img {
    border: 1px solid $Light-Grey;
    border-radius: 5px;
  }
  .fa {
    color: $Light-Grey;
    padding-right: 5px;
  }
}

.right-top {
  display: inline-block;
  width: 40%;
  float: right;
  img {
    float: right;
    margin-left: 20px;
    border: 1px solid $Light-Grey;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    opacity: .9;
  }img:hover {
    opacity: 1;
  }
  .additional-items {
    width: 80px;
    display: inline-block;
    vertical-align: top;
    float: right;
    text-align: center;
    border: 1px solid $Light-Grey;
    border-radius: 5px;
    height: 58px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: -20px;
    cursor: pointer;
    background-color: #fff;
      .items-number {
        font-size: 22px;
        color: $Blue;
        opacity: 1;
      }
      .items-text {
        font-size: 14px;
        color: $Light-Grey;
        padding-bottom: -20px;
        opacity: 1;
      }
  }:hover {
    background-color: $Light-Blue;
    opacity: .75;
  }
}

.main-content {
  background-color: #fff;
  border: 1px solid $Light-Grey;
  border-radius: 3px;
  padding: 25px;
}

.left-col {
  display: inline-block;
}

.right-col {
  display: inline-block;
}

.fav {
  background-color: $Light-Blue;
  margin-bottom: 10px;
  border-radius: 3px;
  .favorite-button {
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    font-size: 13px;
    border: 1px solid $Light-Grey;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    cursor: pointer;
  }.favorite-button:hover {
    background-color: $BackgroundGrey;
  }
  .like-item {
    display: inline-block;
  }
  .like-text1 {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .like-text2 {
    font-size: 15px;
    color: $Light-Grey;
    margin-bottom: 15px;
  }
  .fa {
    color: $Light-Grey;
  }
}

.product-images {
  img {
    width: 100%;
  }
}

.more-images {
  margin-left: 175px;
  // margin-right: -100px;
  width: 225px;
  display: inline-block;
}

.thumbnail {
  height: 30px;
  width: 30px;
  border: 1px solid $Light-Grey;
  display: inline-block;
  margin: 5px;
}

.zoom {
  display: inline-block;
  color: $Light-Grey;
  width: 70px;
  margin-left: 110px;
  vertical-align: top;
  margin-top: 5px;
  p {
    margin-left: 12px
  }
}

.custom-order {
  margin-left: 20px;
  margin-top: 30px;
  img {
    height: 50px;
    width: 50px;
    display: inline-block;
  }
  .fa {
    display: inline-block;
    color: $Light-Blue;
    vertical-align: top;
    font-size: 32px;
    margin-top: 8px;
    margin-right: -14px;
    margin-left: 4px;
  }
  p {
    background-color: $Light-Blue;
    color: $Dark-Grey;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 18px 25px 16px 10px;
    margin-left: 10px;
      .front-text {
        color: $Darker-Blue;
        font-weight: bold;
      }
  }
  a {
    text-decoration: none;
  }
}

.reviews {
  .tabs {
    border-bottom: 1px solid $Light-Grey;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  ul {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  li {
    display: inline-block;
    padding: 10px;
    border-top: 1px solid $Light-Grey;
    border-left: 1px solid $Light-Grey;
    color: $Blue;
    font-weight: bold;
  }
  .list-right {
    border-right: 1px solid $Light-Grey;
  }
  .details-content {
    width: 540px;
    color: $Dark-Grey;
    line-height: 1.75;
    font-size: 15px;
  }
  .reviews-content {
    // width: 550px;
    margin-top: 40px;
    .reviews-main {
      border-bottom: 1px solid $Light-Grey;
    }
    .reviewer {
      display: inline-block;
      margin-left: 30px;
      margin-right: 65px;
      text-align: center;
      vertical-align: top;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 8px;
      }
      .reviewed-by {
        color: $Light-Grey;
        font-size: 13px;
        padding-bottom: 3px;
      }
      .reviewed-user {
        color: $Blue;
        font-size: 13px;
          a {
            text-decoration: none;
            color: $Blue;
          }
      }
    }
    .review-right {
      display: inline-block;
      width: 405px;
      margin-right: 0;
      .review-stars-date {
        margin-bottom: 10px;
        p {
          display: inline-block;
          font-size: 13px;
          width: 395px;
          color: $Light-Grey;
        }
        .reviewer-stars {
          width: 50px;
          margin-right: 276px;
        }
        .reviewed-date {
          width: 75px;
        }

      }
      .review-par {
        width: 380px;
        font-size: 15px;
        color: $Dark-Grey;
        margin-bottom: 12.5px;
        line-height: 1.5;
      }
      .reviewed-item {
        margin-bottom: 22px;
        img {
          height: 45px;
          width: 45px;
          display: inline-block;
          margin-right: 5px;
        }
        .reviewed-item-name {
          font-size: 13px;
          color: $Light-Grey;
          display: inline-block;
          vertical-align: top;
        }
      }

      }
      .read-all-btn {
        font-size: 15px;
        font-weight: 700;
        background-color: #fff;
        border: 1px solid $Light-Grey;
        border-radius: 3px;
        padding: 8px 15px;
        margin-top: 30px;
        cursor: pointer;
      }.read-all-btn:hover {
        background-color: $BackgroundGrey;
      }
      }
  .shipping-content {
    .payment-info {
      border-bottom: 1px solid $Light-Grey;
    }
    .methods-text {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .credit-cards {
      width: 160px;
      height: auto;
      display: inline-block;
      margin-bottom: 7px;
    }
    .gift-card {
      display: inline-block;
      vertical-align: top;
      color: $Dark-Grey;
      font-size: 15px;
      margin-top: 18px;
      margin-left: 10px;
      .fa {
        color: $Green;
        font-size: 22px;
        margin-right: 5px;
      }
    }
    .money-order {
      color: $Dark-Grey;
      font-size: 15px;
      margin-bottom: 30px;
    }
    .ready-to-ship {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .shipping-cost-title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .shipping-info {
      border-bottom: 1px solid $Light-Grey;
    }
    .shipping-line {
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
        .ship-to {
          display: inline-block;
          margin-right: 180px;
        }
        .zip {
          display: inline-block;
          margin-right: 75px;
        }
        .cost {
          display: inline-block;
        }
    }
    .button-line {
      margin-top: 5px;
        .country {
          width: 220px;
          padding: 5px;
          text-align: left;
          display: inline-block;
          border: 1px solid $Light-Grey;
          background-color: #fff;
          border-radius: 3px;
          cursor: pointer;
          margin-right: 30px;
            .fa {
              color: $Light-Grey;
            }
        }
        .zip-input {
          display: inline-block;
          width: 140px;
          padding: 5px;
          border: 1px solid $Light-Grey;
          background-color: #fff;
          border-radius: 3px;
          margin-right: 33px;
        }
        a {
          text-decoration: none;
          color: $Blue;
          font-size: 15px;
        }
    }
  } .get-shipping {
      color: $Light-Grey;
      font-size: 15px;
      margin-top: 25px;
      margin-bottom: 30px;
  }
    .policies-title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }
}



.overview {
  border: 3px solid $Green;
  border-radius: 3px;
}
