.trendingItems{
  display: block;
  font-family: $Font-Bitter;
  padding: 1.5em 0;
  box-shadow: 0px 1px 3px 1px #d0d0d0 inset;
  #trendingHeader{
    font-size: 28px;
    width: 79%;
    display: block;
    margin: 0 auto;
    color: $Black;
    text-decoration: none;
    font-weight: 700;
    &:hover{
      text-decoration: underline;
    }
  }
  #trendingSubHeader{
    font-size: 16px;
    width: 79%;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: $Light-Grey;
    font-weight: 400;
    padding: .8em;
  }
}

.pageWidthWrapper{
  width:100%;
}

.productGridWrapper{
  width:80%;
  margin: 0 auto;

ul{
  // break-inside: avoid-column;
  column-count: 4;
  column-gap: 0;
.productBox{
  margin: .5em;
  width:225px;
  background-color: white;
  border-width: 224px;
  border-radius: 3px;
  border:1px solid rgba(170,170,170,.4);
  box-shadow: 1px 1px 2px #d0d0d0;
  padding:5px;
  list-style: none;
  display:inline-block;
  .image{
    max-width: 224px;
  }
}
}
.productBox:hover{
  border:1px solid rgba(170,170,170,.7);
}

.title{
  color:black;
  font-family: $Font-Lato;
  font-size: 12px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title:hover{
  text-decoration: underline;
}

.shop{
  color:$Light-Grey;
  font-family: $Font-Lato;
  font-size: 12px;
  display:inline;
}
.shop:hover{
  text-decoration: underline;
}

.price{
  color:$Green;
  font-family: $Font-Lato;
  display:inline;
  font-size: 12px;
  float:right;
  padding:3px 0 0 0;
}
}
//Load more button//
#loadMore{
  position: relative;
  left: 44%;
  border-radius: .19em;
  outline: none;
  border: none;
  padding: .5em 1em;
  font: Lato, sans-serif;
  color: white;
  background-color: #0192B5;
  font-size: .9em;
  font-weight: 600;

}

// *********  GRID CODE FROM http://www.responsivegridsystem.com/calculator/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 4em;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.25%;
}
.span_2_of_4 {
	width: 48.5%;
}
.span_1_of_4 {
	width: 22.75%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
